.servicos{
    min-height: 20vh;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;

}

.servicos-item{
    text-align: center;
    background-color: var(--color-yellow-700);
    width: 13rem;
    padding: 2rem 1rem;
    border-radius: var(--radius);
    color: var(--color-dark);
    transition: var(--transition);
    
}

.servicos-item:hover {
    background-color: var(--color-yellow);
    cursor: pointer;
}