*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

:root{
    --color-blue-100: #3ceffa;
    --color-blue-200: #dbe0f4;
    --color-yellow: #ffab00;
    --color-yellow-700: rgba(255, 170, 0, .7);
    --color-light:#ffffff;
    --color-dark: #261d15;
    --radius: 7px;
    --transition: .5s;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--color-dark);
    min-height: 100vh;
    background-image: linear-gradient(110deg,
            hsl(227deg 58% 95%) 0%,
            hsl(228deg 56% 95%) 11%,
            hsl(229deg 57% 95%) 22%,
            hsl(229deg 55% 94%) 33%,
            hsl(227deg 58% 94%) 44%,
            hsl(228deg 56% 93%) 55%,
            hsl(229deg 57% 93%) 66%,
            hsl(229deg 55% 92%) 76%,
            hsl(227deg 53% 92%) 85%,
            hsl(230deg 55% 91%) 93%,
            hsl(228deg 53% 91%) 100%);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-dark);
    transition: var(--transition);
    font-weight: 600;
}

a:hover{
    color: var(--color-yellow);
}

img{
    max-width: 100%;
    display: block;
}

/************* menu*************/
.container{
    width: 90%;
    background-color: var(--color-light);
    max-width: 1320px;
    margin: 4rem auto;
    padding: 1rem 3rem;
    border-radius: var(--radius);
}